<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoutubeListMerger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoutubeListMerger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <YoutubeListMerger.Properties.Settings>
            <setting name="ValidYouTubeUrls" serializeAs="String">
                <value>https://www.youtube.com
https://youtu.be
https://youtbe.com
www.youtbe.com
youtu.be
youtube.com</value>
            </setting>
        </YoutubeListMerger.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <YoutubeListMerger.Properties.Settings>
            <setting name="MaxConcurrentAnalyzes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AnalyzeDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AnalyzePauseInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </YoutubeListMerger.Properties.Settings>
    </userSettings>
</configuration>